/*body{
    background-color: #f7e8fa;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ab{
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Arial Narrow Bold';
    text-shadow: 10px 0px 10px black;
    margin-top: 20px;
    /*margin-bottom: auto;*/
    box-sizing: border-box;
}
.about{
    background-color: #024950;
    
    width: 50%;
    height: 360px;
    float: right;
    margin: 40px;
    text-align: left;
    box-sizing: border-box;
    display: inline-block;
    line-height: 20px;
}
p{
    color: white;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
    word-spacing: 5px;
}
.photo{
    box-sizing: border-box;
    /*border: 2px solid black;*/
    text-align: center;
    width: 40%;
    height: 400px;
    margin-top: 20px;
    margin-left: 15px;
    padding: 30px;
    display: inline-block;
    float: left;
    padding-top: 15px ;
}
.photo>img{
    border: 15px solid white;
    background:radial-gradient(#ade9f4,#AFDDE5,#024950);
    border-radius: 50%;
    box-sizing: border-box;
    padding-bottom: 25px;
    width: 90%;
    height: 400px;
    /*position: relative;
    z-index: 999;*/
    margin-top: -15px;
    margin-left: -20px;
}