body{
    background-color: #f7e8fa;
}
.contact{
    /*background-color: rgb(255, 255, 255);*/
    /*border: 2px solid #ffffff;*/
    line-height: 12px;
    width: 40%;
    height: 390px;
    text-align: center;
    padding: 10px;
    float: right;
    margin-top: 50px;
    margin-right: 60px;
}
.contact1{
    /*background-color: rgb(255, 255, 255);*/
    border: 2px solid #ffffff;
    color: #ffffff;
    line-height: 50px;
    width: 40%;
    height: 390px;
    text-align: center;
    float: left;
    padding-top: 50px;
    margin-top: 50px;
    margin-left: 60px;
}
.contact1 >.btn{
    width: 20%;
    height: 30px;
    font-size: 14px;
    float: right;
    margin-right: 200px;
}
.contact1 >p >img{
    text-align: justify;
    /*background-color:#ffffff ;*/
    width: 14px;
    height: 18px;
    margin-right: 15px;
    border: #ffffff;
    transition: 0.4s;
    display: inline-block;
    
}
/*fieldset{
    margin: auto;
    width: 100%;
    height: 350px;
}*/
textarea{
    width: 100%;
    height: 200px;
}
input{
    width: 100%;
    height: 35px;
}
button{
    /*background-color: blueviolet;*/
    /*border: none;*/
    width: 20%;
    height: 30px;
    font-size: 14px;
    float: left;
}