*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /*background-image: url('images/background.jpg');*/
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
    font-size: 18px;
    text-align: right;
    word-spacing: 20px;
    /*padding-right: 30px;
    padding-top: 10px;*/
}
a{
    text-decoration: none;
}
li{
    display: inline-block;
}
nav{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    position: sticky;
    height: 40px;
    background-color: #fcfcfc;
    padding-bottom: 20px;
    padding-top: 3px;
    
}
.logo{
    font-family: 'Pacifico';
    font-weight: 400;
    font-size: 15px;
    /*text-decoration: underline;*/
    margin-left: -350px;
}
.logo>span{
    color: #fe02fe;
}
.name{
    /*border: 2px solid;*/
    /*background-color: #7091E6;*/
    color: #fe02fe;
    height: 390px;
    width: 40%;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
    padding-top: 160px;
    box-sizing: border-box;
    display: inline-block;
    line-height: 10px;
    float: left;
}
.name>h2{
    font-family: 'Pacifico';
    font-size: 40px;
    padding-bottom: 30px;
}
.name>h3{
    font-family: 'Lugrasimo';
    font-size: 20px;
    padding-bottom: 20px;
}
.name>a>img{
    background-color:#ffffff ;
    width: 32px;
    height: 32px;
    margin: 1.5px;
    border-radius: 50%;
    transition: 0.4s;
}
.name>a>img:hover{
    background-color: #fe02fe;
}
.pic{
    box-sizing: border-box;
    /*border: 2px solid black;*/
    text-align: center;
    width: 40%;
    height: 400px;
    margin-top: 40px;
    margin-left: 15%;
    padding: 30px;
    display: inline-block;
    float: left;
    padding-top: 15px ;
}
.pic>img{
    box-sizing: border-box;
    padding-bottom: 25px;
    width: 115%;
    height: 400px;
    position: relative;
    z-index: 999;
    margin-top: -15px;
    margin-left: -20px;
}
@media only screen and (max-width:600px){
    .name
    {
        width: 100%;
    }
}
.pic >.border-box{
    width: 30%;
    height: 320px;
    /*box-sizing: border-box;*/
    border-bottom: 40px;
    border: 5px solid #ffffff;
    transform: rotate(48deg);
    
    position: absolute;
    top: 135px;
    right: 120px;
}
/*button{
    
    block-size: 30px;
    border-radius: 10px;
  
}*/